[submodule "plugins/diskuse_summary"]
	path = plugins/diskuse_summary
	url = git@github.com:graphdat/graphdat-plugin-diskuse_summary.git
[submodule "plugins/redis"]
	path = plugins/redis
	url = git@github.com:graphdat/plugin-redis.git
[submodule "plugins/cpu_core"]
	path = plugins/cpu_core
	url = git@github.com:graphdat/plugin-cpu_core.git
[submodule "plugins/nginx"]
	path = plugins/nginx
	url = git@github.com:graphdat/plugin-nginx
[submodule "plugins/haproxy"]
	path = plugins/haproxy
	url = git@github.com:graphdat/plugin-haproxy.git
[submodule "plugins/apache"]
	path = plugins/apache
	url = git@github.com:graphdat/plugin-apache.git
[submodule "plugins/twitter-stream"]
	path = plugins/twitter-stream
	url = git@github.com:graphdat/plugin-twitter-stream.git
[submodule "plugins/litespeed"]
	path = plugins/litespeed
	url = git@github.com:graphdat/plugin-litespeed.git
[submodule "plugins/memcached"]
	path = plugins/memcached
	url = git@github.com:graphdat/plugin-memcached.git
[submodule "plugins/mysql"]
	path = plugins/mysql
	url = git@github.com:graphdat/plugin-mysql.git
[submodule "plugins/process_memory"]
	path = plugins/process_memory
	url = git@github.com:graphdat/plugin-process_memory.git
[submodule "plugins/process_cpu"]
	path = plugins/process_cpu
	url = git@github.com:graphdat/plugin-process_cpu.git
[submodule "plugins/mongo"]
	path = plugins/mongo
	url = git@github.com:graphdat/plugin-mongo.git
[submodule "plugins/httpcheck"]
	path = plugins/httpcheck
	url = git@github.com:graphdat/plugin-httpcheck.git
[submodule "plugins/pingcheck"]
	path = plugins/pingcheck
	url = git@github.com:graphdat/plugin-pingcheck.git
[submodule "plugins/conntrack"]
	path = plugins/conntrack
	url = git@github.com:graphdat/plugin-conntrack.git
[submodule "plugins/forkrate"]
	path = plugins/forkrate
	url = git@github.com:graphdat/plugin-forkrate.git
[submodule "plugins/hbase"]
	path = plugins/hbase
	url = git@github.com:graphdat/plugin-hbase.git
[submodule "plugins/shell"]
	path = plugins/shell
	url = git@github.com:boundary/boundary-plugin-shell.git
[submodule "plugins/aws_elb"]
	path = plugins/aws_elb
	url = git@github.com:boundary/boundary-plugin-aws-elb.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = git@github.com:boundary/boundary-plugin-rabbitmq.git
