[submodule "plugins/diskuse_summary"]
	path = plugins/diskuse_summary
	url = git@github.com:graphdat/graphdat-plugin-diskuse_summary.git
[submodule "plugins/redis"]
	path = plugins/redis
	url = git@github.com:graphdat/plugin-redis.git
[submodule "plugins/cpu_core"]
	path = plugins/cpu_core
	url = git@github.com:graphdat/plugin-cpu_core.git
[submodule "plugins/nginx"]
	path = plugins/nginx
	url = git@github.com:graphdat/plugin-nginx
[submodule "plugins/haproxy"]
	path = plugins/haproxy
	url = git@github.com:graphdat/plugin-haproxy.git
[submodule "plugins/apache"]
	path = plugins/apache
	url = git@github.com:graphdat/plugin-apache.git
[submodule "plugins/twitter-stream"]
	path = plugins/twitter-stream
	url = git@github.com:graphdat/plugin-twitter-stream.git
[submodule "plugins/litespeed"]
	path = plugins/litespeed
	url = git@github.com:graphdat/plugin-litespeed.git
[submodule "plugins/memcached"]
	path = plugins/memcached
	url = git@github.com:graphdat/plugin-memcached.git
[submodule "plugins/mysql"]
	path = plugins/mysql
	url = git@github.com:graphdat/plugin-mysql.git
